{% if include.file %}

{% assign file-parts = include.file | split:"." %}

<picture class="{{ include.class }} responsive-image responsive-image-full-width">
  <!--[if IE 9]><video style="display: none;"><![endif]-->
  <source srcset="/img/full-width/_responsive/{{ file-parts[0] }}-bg-w480@1x.{{ file-parts[1] }}, /img/full-width/_responsive/{{ file-parts[0] }}-bg-w480@2x.{{ file-parts[1] }} 2x" media="(max-width: 480px)">
  <source srcset="/img/full-width/_responsive/{{ file-parts[0] }}-w768@1x.{{ file-parts[1] }}, /img/full-width/_responsive/{{ file-parts[0] }}-w768@2x.{{ file-parts[1] }} 2x" media="(max-width: 768px)">
  <source srcset="/img/full-width/_responsive/{{ file-parts[0] }}-w1024@1x.{{ file-parts[1] }}, /img/full-width/_responsive/{{ file-parts[0] }}-w1024@2x.{{ file-parts[1] }} 2x" media="(max-width: 1024px)">
  <source srcset="/img/full-width/_responsive/{{ file-parts[0] }}-w1280@1x.{{ file-parts[1] }}, /img/full-width/_responsive/{{ file-parts[0] }}-w1280@2x.{{ file-parts[1] }} 2x" media="(max-width: 1280px)">
  <source srcset="/img/full-width/_responsive/{{ file-parts[0] }}-w1440@1x.{{ file-parts[1] }}, /img/full-width/_responsive/{{ file-parts[0] }}-w1440@2x.{{ file-parts[1] }} 2x" media="(max-width: 1440px)">
  <source srcset="/img/full-width/_responsive/{{ file-parts[0] }}-w1920@1x.{{ file-parts[1] }}" media="(max-width: 1920px)">
  <!--[if IE 9]></video><![endif]-->

  <img srcset="/img/full-width/_responsive/{{ file-parts[0] }}-bg-w320@1x.{{ file-parts[1] }}, /img/full-width/_responsive/{{ file-parts[0] }}-bg-w320@2x.{{ file-parts[1] }} 2x" alt="{{ include.alt }}">
</picture>

{% endif %}