{% if include.file %}

  {% assign file-parts = include.file | split:"." %}

  {% capture type %}{% if include.type %}{{ include.type }}{% else %}regular{% endif %}{% endcapture %}
  {% capture sizes %}{% if include.sizes %}{{ include.sizes }}{% else %}100vw{% endif %}{% endcapture %}

  {% for responsive_type in site.responsive_images %}
    {% if type == responsive_type.name %}
      {% assign type = responsive_type %}
    {% endif %}
  {% endfor %}

  {% if type.name and type.sizes %}

    {% capture srcset %}{% for size in type.sizes %}/img/{{ include.type }}/_responsive/{{ file-parts[0] }}-w{{ size.size }}@1x.{{ file-parts[1] }} {{ size.size }}w,{% if size.retina %}/img/{{ include.type }}/_responsive/{{ file-parts[0] }}-w{{ size.size }}@2x.{{ file-parts[1] }} {{ size.size | times:2 }}w,{% endif %}{% endfor %}{% endcapture %}

    {% assign srcset = srcset | append: "temp" | remove: ",temp" %}

<img class="{{ include.class }} responsive-image responsive-image-{{ type.name }}" sizes="{{ sizes }}" srcset="{{ srcset }}" alt="{{ include.alt }}"{% if include.ratio %} data-bg-ratio="{{ include.ratio }}"{% endif %}>

  {% endif %}

{% endif %}