//
// HEADER
//

.app-header {
  position: relative;

  &.app-header-dark {
    color: $color-white;

    a {
      color: $color-white;
    }
  }

  &.app-header-no-image {
    background-color: $color-gray-lightest;
  }
}

.app-header-floating {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.app-header-content {
  padding-top: em($type-spacing);
  padding-bottom: em($type-spacing);

  @media (min-width: em($breakpoint-minor)) {
    padding-top: em($layout-padding);
    padding-bottom: em($layout-padding);
  }
}

