//
// SIDEBAR
//

.page-sidebar {
  @include clearfix;

  @media (max-width: em($breakpoint-major)) {
    margin-bottom: em($layout-padding);
    border-bottom: em($border-size) solid $color-gray-light;

    &.sidebar-at-bottom {
      margin-top: em($layout-padding);
      border-top: em($border-size) solid $color-gray-light;
      margin-bottom: 0;
      border-bottom: none;
    }
  }
}

.sidebar-section {
  margin: em($layout-padding) 0;

  &:first-child {
    margin-top: 0;
  }

  .page-sidebar & + .sidebar-section:not(.skills-section) {
    @media (min-width: em(400)) and (max-width: em($breakpoint-major)) {
      width: 45%;
      margin-top: 0;

      &:nth-child(even) {
        float: left;
        clear: left;
      }

      &:nth-child(odd) {
        float: right;
        clear: right;
      }
    }
  }
}

.sidebar-title {
  @include h2(false);
  margin-bottom: em($type-spacing/2,$type-heading-2);
}

.sidebar-list {
  margin: em($type-spacing/2) 0;
}

.sidebar-website {
  font-size: em($type-size-medium);
  font-weight: bold;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.sidebar-website-inner {
  text-decoration: underline;
}

.sidebar-website-changed {
  margin-left: 1em;
  font-size: em($type-size-tiny, $type-size-medium);
  font-weight: normal;
  color: $color-gray;
}

.sidebar-blockquote {
  @media (min-width: em($breakpoint-major + 1px)) {
    max-width: em(315px, $type-heading-2);
  }
}

.sidebar-mugshot {
  width: em(250px);
  max-width: 85%;
  border-radius: 50%;
}

.sidebar-social {
  .list-item {
    margin-bottom: em($type-spacing/3);

    &:last-child {
      margin-bottom: 0;
    }
  }

  .list-item-link {
    &:hover,
    &:focus {
      text-decoration: none;

      .link-text {
        text-decoration: underline;
      }
    }
  }

  [class*="icon-"] {
    position: relative;
    top: em(4px,$type-size-large);
    margin-right: em($type-spacing/2,$type-size-large);
    font-size: em($type-size-large);
    color: $color-gray;
  }

  .icon-mail { color: $color-mail; }
  .icon-twitter { color: $color-twitter; }
  .icon-github { color: $color-github; }
  .icon-linkedin { color: $color-linkedin; }
  .icon-instagram { color: $color-instagram; }
}