//
// PAGE HEADER
//

.page-header {
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: em(740px);
  height: 100vh;
  min-height: 480px;
  max-height: 1024px;

  @media (min-width: em($breakpoint-major + 1px)) {
    min-height: 600px;
  }

  .app-header-no-image & {
    height: em(480px);
    min-height: 0;
    max-height: none;

    @media (max-width: em($breakpoint-major)) {
      height: em(300px);
    }
  }
}

.page-header-content {
  box-sizing: border-box;
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  max-width: none;
  z-index: 2;
  text-align: center;

  .csstransforms & {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
  }

  .app-header-no-image & {
    box-sizing: content-box;
    position: static;
    transform: none;
    max-width: rem($layout-width-max);
    max-width: $layout-width-max;
    padding-top: em(200px);
    text-align: left;

    @media (max-width: em($breakpoint-major)) {
      padding-top: em(125px);
    }
  }
}

.page-title {
  @include heading-huge;
  font-weight: 300;
  //margin-bottom: em($layout-padding,$type-heading-huge);
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-height: em(600px)) {
    margin-bottom: 64px;
  }

}

.page-description {
  margin: 0 auto;

  @media (min-width: em(601px)) {
    width: 50%;
    max-width: em($type-size-base * 30);

    .app-header-type-video & {
      width: 100%;
      max-width: none;
    }
  }
}

.page-meta {
  //margin: em($type-spacing/2) 0 0;
  opacity: 0.5;

  &,
  &:last-child {
    margin: 16px 0 -16px;
  }
}

//
// INTERFACE
//

.page-header-interface {
  position: absolute;
  top: 50%;
  left: 55%;
  max-height: 68%;
  transform: translateY(-50%);
  z-index: 2;

  @media (max-width: em(600px)) {
    display: none;
  }

  .no-csstransforms & {
    top: 0;
    margin-top: 5%;
  }
}

//
// BACKGROUND
//

.page-header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}

.page-header-background-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  max-width: none;
  transform: translate(-50%,-50%);

  /* .csstransitions & {
    transition: transform 9s $animation-ease;
  }

  .csstransitions .video + & {
    transition: none;
  }

  .csstransitions .app-header:hover & {
    transform: translate(-50%,-50%) scale(1.1);
  }

  .csstransitions .app-header:hover .video + & {
    transform: translate(-50%,-50%);
  } */

  .no-csstransforms & {
    top: 0;
    left: 0;
  }
}

//
// VIDEO
//

.page-header-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: hidden;
  opacity: 0.8;

  .video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    max-width: none;
    transform: translate(-50%,-50%);
  }
}