//
// HOME
//

.home {
  .page-header-floating {
    //top: calc(50% + 30px);
  }
}

.homepage-service {
  display: block;
  margin-top: $spacing-vertical-small/2;

  @media (min-width: em(630px)) {
    display: inline-block;
    margin-top: 0;
  }
}

.homepage-service-separator {
  display: none;

  @media (min-width: em(630px)) {
    display: inline-block;
    font-weight: normal;
    margin: 0 0.5em;
  }
}

.homepage-greeting {
  display: block;
  padding-top: 0.5em;
  min-height: 1.75em;
  line-height: 1.75em;

  span {
    font-size: 1em;
  }

  .csstransforms.csstransitions & {

    opacity: 0;
    transform: translateY(10px);
    transition: opacity .25s $animation-ease .25s, transform .25s $animation-ease .25s;

    &.animate {
      opacity: 1;
      transform: translateY(0);
    }

  }
}