//
// APP NAVIGATION
//

.app-navigation {
  float: right;

  .list {
    margin: em($type-size-medium) 0;
  }

  .list-item {
    margin-right: em($type-size-base,$type-size-mobile);
    font-weight: bold;

    &:last-child {
      margin-right: 0;
    }

    @media (min-width: em(370px)) {
      margin-right: em($type-spacing,$type-size-mobile);
    }

    @media (min-width: em($breakpoint-minor + 1px)) {
      //margin-right: em($layout-padding,$type-size-medium);
      font-size: em($type-size-medium);
    }
  }

  .active {
    text-decoration: underline;
  }
}

