//
// APP NAVIGATION
//

.app-navigation {
  float: right;

  .list {
    margin: em($type-size-medium) 0;
  }

  .list-item {
    margin-right: em(24px,$type-size-mobile);

    &:last-child {
      margin-right: 0;
    }

    @media (min-width: em(370px)) {
      margin-right: em($type-spacing,$type-size-mobile);
    }

    @media (min-width: em($breakpoint-minor + 1px)) {
      margin-right: em($type-size-xlarge*2,$type-size-medium);
      font-size: em($type-size-medium);
    }
  }

  .list-item-link {
    display: inline-block;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  .active {
    text-decoration: underline;
  }
}

