//
// APP NAVIGATION
//

.app-navigation {
  float: right;

  .list {
    margin: em($type-size-medium) 0;
  }

  .list-item {
    margin-right: em($type-size-base,$type-size-mobile);
    font-weight: bold;

    &:last-child {
      margin-right: 0;
    }

    @media (min-width: em(370px)) {
      margin-right: em($type-spacing,$type-size-mobile);
    }

    @media (min-width: em($breakpoint-minor + 1px)) {
      //margin-right: em($layout-padding,$type-size-medium);
      font-size: em($type-size-medium);
    }
  }

  .list-item-link {
    display: inline-block;
    transition: transform 0.333s cubic-bezier(0.000, 0.995, 0.750, 1.140);

    &:hover,
    &:focus {
      opacity: 1;
      transform: scale(1.05);
      text-decoration: underline;
    }
  }

  .active {
    text-decoration: underline;
  }
}

