//
// LOGO
//

.logo {
  float: left;
  width: em(50px);
  margin: 0;
  font-size: em($type-size-base);
}

.logo-link {
  display: inline-block;
  transition: transform 0.333s $animation-ease;

  &:hover,
  &:focus {
    opacity: 1;
    transform: scale(1.05);
  }
}

.logo-img {
  display: block;
  width: em(50px);
}