//
// PROJECTS
//

.projects {
  position: relative;
  margin: em($layout-padding) 0 0;
  background: $color-black;
  color: $color-white;
  overflow: hidden;

  a {
    color: $color-white;
  }
}

.projects-more {
  padding-top: em($layout-padding);
  background: $color-gray-lightest;
  color: $color-gray-dark;

  a {
    color: $color-black;
  }
}

.project {
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: $color-white;
  //border-bottom: em(3px) solid $color-white;

  a:not(.button) {
    color: $color-white;
  }

  &.project-dark {
    color: $color-black;

    a:not(.button) {
      color: $color-black;
    }
  }

  &:last-of-type {
    border-bottom: none;
  }
}

.project-content {
  position: relative;
  padding-top: em($layout-padding*2);
  padding-bottom: em($layout-padding*2);
  z-index: 2;

  @media (min-width: em(601px)) {
    padding-top: em($layout-padding*3);
    padding-bottom: em($layout-padding*3);

    &.project-content-split {
      @include clearfix;

      .project-description {
        float: left;
        width: 60%;
      }

      .project-meta {
        float: right;
        width: 35%;
        margin-top: 0;
      }
    }
  }

  @media (min-width: em(900px)) {
    padding-top: em($type-spacing*4.5);
    padding-bottom: em($type-spacing*4.5);
  }

  @media (min-width: em(1025px)) {
    padding-top: em($type-spacing*6);
    padding-bottom: em($type-spacing*6);
  }

  @media (min-width: em(900px)) {
    &.project-content-right {
      .project-title,
      .project-description,
      .project-lead,
      .project-meta {
        margin-left: 55%;
      }

      .project-interface {
        left: auto;
        right: 55%;
      }
    }
  }
}

.project-title {
  @include heading-big;
  white-space: nowrap;
  margin-bottom: em($type-size-xlarge, $type-heading-big);
}

.project-title-small {
  font-family: $custom-font-thin;
  font-size: em($type-size-small, $type-heading-big);
  font-weight: bold;
  letter-spacing: 0;
  color: $color-white;
  white-space: nowrap;

  .project-dark & {
    color: $color-black;
  }
}

.project-description {
  opacity: 0.85;

  @media (min-width: em(601px)) {
    width: 50%;
    max-width: em($type-size-base * 25);

    .project-floating-right & {
      width: 100%;
    }
  }
}

.project-lead {
  font-size: em($type-size-medium);
  line-height: 1.29em;
}

.project-meta {
  margin: em($layout-padding, $type-size-small) 0 0;
  font-size: em($type-size-small);
  color: $color-white;

  &.project-meta-list {
    .project-link {
      display: block;
    }
  }
}

.project-calltoaction {
  margin-right: em($type-spacing);
  color: $color-white;

  .project-dark & {
    color: $color-black;
  }
}

//
// PROJECT INTERFACE
//

.project-interface {
  position: absolute;
  top: 50%;
  left: 55%;
  max-height: 60%;
  z-index: 2;
  transform: translateY(-50%);

  &:hover,
  &:focus {
    opacity: 1;

    .project-interface-img,
    .project-interface-bg {
      transform: scale(1.025);
    }
  }

  .project-interface-img,
  .project-interface-bg {
    transition: transform 0.333s $animation-ease;
  }

  .project-interface-img {
    position: absolute;
    top: em(34px);
    left: em(107px);
    width: em(572px);
    z-index: 2;

    @media (max-width: em($breakpoint-major)) {
      top: em(34px, $type-size-mobile);
      left: em(107px, $type-size-mobile);
      width: em(572px, $type-size-mobile);
    }
  }

  .project-interface-bg {
    max-width: none;
    z-index: 1;
  }

  @media (max-width: em(600px)) {
    display: none;
  }

  @media (min-width: em(900px)) {
    .project-content-right + & {
      left: auto;
      right: 55%;
    }
  }
}

//
// PROJECT BACKGROUND
//

.project-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}

.project-background-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  min-width: 100%;
  height: auto;
  max-width: none;
  transform: translate(-50%, -50%);

  /* .csstransitions & {
    transition: transform 9s $animation-ease;
  }

  .csstransitions .project:hover & {
    transform: translate(-50%,-50%) scale(1.1);
  } */
}
