//
// PROJECTS
//

.projects {
  position: relative;
  margin: em($layout-padding) 0 0;
  background: $color-black;
  overflow: hidden;
}

.project {
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: $color-white;

  a:not(.button) {
    color: $color-white;
  }
}

.project-content {
  position: relative;
  padding-top: em($layout-padding*2);
  padding-bottom: em($layout-padding*2);
  z-index: 2;

  @media (min-width: em(601px)) {
    padding-top: em($layout-padding*3);
    padding-bottom: em($layout-padding*3);
  }

  @media (min-width: em(900px)) {
    padding-top: em($type-spacing*4.5);
    padding-bottom: em($type-spacing*4.5);
  }

  @media (min-width: em(1025px)) {
    padding-top: em($type-spacing*6);
    padding-bottom: em($type-spacing*6);
  }

  @media (min-width: em(900px)) {
    &.project-content-right {
      .project-title,
      .project-description,
      .project-lead,
      .project-meta {
        margin-left: 55%;
      }

      .project-interface {
        left: auto;
        right: 55%;
      }
    }
  }
}

.project-title {
  @include heading-big;
}

.project-title-small {
  font-size: em($type-size-small,$type-heading-big);
  letter-spacing: 0;
  color: $color-white;
  white-space: nowrap;

  .project-dark & {
    color: $color-white;
  }
}

.project-description {
  @media (min-width: em(601px)) {
    width: 50%;
    max-width: em($type-size-base * 25);

    .project-floating-right & {
      width: 100%;
    }
  }
}

.project-lead {
  font-size: em($type-size-medium);
  line-height: 1.29em;
}

.project-meta {
  margin: em($layout-padding,$type-size-small) 0 0;
  font-size: em($type-size-small);
  color: $color-white;
}

.project-calltoaction {
  margin-right: em($type-spacing);
}

//
// PROJECT INTERFACE
//

.project-interface {
  position: absolute;
  top: 50%;
  left: 55%;
  max-height: 60%;
  z-index: 2;
  transform: translateY(-50%);

  @media (max-width: em(600px)) {
    display: none;
  }

  @media (min-width: em(900px)) {
    .project-content-right + & {
      left: auto;
      right: 55%;
    }
  }
}

//
// PROJECT BACKGROUND
//

.project-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}

.project-background-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  max-width: none;
  transform: translate(-50%,-50%);
  transition: transform 9s $animation-ease;
  tranform-origin: 50% 50%;

  .project:hover & {
    transform: translate(-50%,-50%) scale(1.1);
  }
}