//
// SKILLS
//

.skills-section {
  @include clearfix;

  &,
  .page-sidebar &.sidebar-section {
    float: none;
    width: 100%;

    @media (min-width: em($breakpoint-major + 1px)) {
      margin-bottom: 0;
    }
  }
}

.skills {
  width: 100%;
  @include clearfix;

  &,
  &.sidebar-list {
    margin: 0;
  }
}

.skill {
  @include h3(false);
  position: relative;
  box-sizing: border-box;
  padding-left: em(78px,$type-heading-3);
  margin-bottom: em($type-spacing/1.25,$type-heading-3);
  font-weight: bold;
  line-height: em(61px,$type-heading-3);
  white-space: nowrap;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: em($breakpoint-minor + 1px)) and (max-width: em($breakpoint-major)) {
    width: 45%;

    &.skill-minor {
      margin-bottom: 0;
    }

    &:nth-child(odd) {
      float: left;
      clear: left;
    }

    &:nth-child(even) {
      float: right;
    }
  }
}

.skill-box {
  position: absolute;
  top: 0;
  left: 0;
  width: em(54px,$type-heading-3);
  height: em(54px,$type-heading-3);
  line-height: em(57px,$type-heading-3);
  text-align: center;
  border: em(3px,$type-heading-3) solid $color-black;
}

.skill-minor {
  color: $color-gray;

  .skill-box {
    border-color: $color-gray;
  }
}