---
layout: application

id: home
class: home

description: Making something very complex, very simple.
meta: Head of Technology, London at <a href="https://fathomlondon.com">Fathom</a>

show-availability: false

hero-title: Focus
hero-image: true
hero-theme: dark

---

<section class="page-wrapper layout-contain layout-clear">

  <h1 class="visuallyhidden">About</h1>

  <aside class="page-sidebar sidebar layout-sidebar" role="complementary">
    <section class="sidebar-section skills-section">
      <ul class="sidebar-list list-vertical skills">
        <li class="skill"><span class="skill-box">UI</span><span class="visuallyhidden"> -</span> User Interface</li>
        <li class="skill"><span class="skill-box">UX</span><span class="visuallyhidden"> -</span> User Experience</li>
        <li class="skill"><span class="skill-box">JS</span><span class="visuallyhidden"> -</span> Javascript</li>
        <li class="skill"><span class="skill-box">DV</span><span class="visuallyhidden"> -</span> Data Visualisation</li>
      </ul>
    </section>
  </aside>

  <div class="page-content content layout-content">

    <p>Hey there, I'm Pete. <span data-anthro="howisday"></span></p>
    
    <p>By combining code, design, and leadership skills, I’ve helped startups, agencies and large corporations turn their visions into award-winning digital products and interactive installations.</p>

    <p>Note to engineers: We're always looking for the best talent at <a href="https://fathomlondon.com">Fathom</a>. If you are (or aspiring to be) a top-tier engineer who also loves good design, <a href="/contact/">get in touch</a> or check: <a href="https://fathomlondon.com/careers">fathomlondon.com/careers</a></p>

    <a class="button" href="/about">More</a>
  </div>

</section>

<section id="work" class="work projects">

  <article class="project" itemscope itemtype="http://schema.org/WebSite">
    <div class="project-content layout-contain">
      <h2 class="project-title"><span itemprop="name">Fathom</span></h2>

      <div class="project-description">
        <p>I'm currently the Head of Technology, London.</p>

        <p>Fathom are a digital product company specialising in the design and build of software user interfaces for Capital Markets and Big Data.</p>

        <p>At Fathom, we believe great design is fundamentally about problem-solving. We’re able to create simple, intuitive experiences because we take the time to develop a deep understanding of complex problem spaces.</p>
            
        <p>We innovate at every turn and pride ourselves on building strong customer relationships. Our clients range from tech start-ups to Tier 1 investment banks.</p>
            
        <p>And we love what we do, which helps.</p>
      </div>

      <p class="project-meta project-meta-list">
        <a itemprop="url" href="https://fathomlondon.com" class="project-link">fathomlondon.com</a>
      </p>
    </div>

    <a itemprop="url" href="https://fathomlondon.com" class="project-interface">
      <img itemprop="image" class="project-interface-img" srcset="/img/retina/_responsive/fathom-interface-@1x.png, /img/retina/_responsive/fathom-interface-@2x.png 2x" alt="Image showing an example of the user interface for Fathom.">
      <img class="project-interface-bg" srcset="/img/retina/_responsive/interface-bg-@1x.png, /img/retina/_responsive/interface-bg-@2x.png 2x" alt="Complementary image showing an outline of a laptop computer.">
    </a>

    <div class="project-background responsive-image responsive-image-full-width">
      {% include image/responsive.html class="project-background-image" file="hero-fathom-bg.jpg" alt="Faded background composition for Fathom." type="full-width" sizes="100vw" ratio="1.667" %}
    </div>
  </article>

  <article class="project" itemscope itemtype="http://schema.org/WebSite">
    <div class="project-content layout-contain">
      <h2 class="project-title"><span itemprop="name">Barclays</span></h2>

      <div class="project-description">
        <p>Barclays is a multinational banking and financial services company headquartered in London. It is a universal bank with operations in retail, wholesale and investment banking, as well as wealth management, mortgage lending and credit cards. It has operations in over 50 countries and territories and has around 48 million customers.</p>

        <p>I helped develop a complex events/rewards platform built with Angular.js, and also worked on bringing Barclays Wealth to all devices by implementing a responsive strategy.</p>
      </div>

      <p class="project-meta project-meta-list">
        <a itemprop="url" href="http://littlebookofwonders.com" class="project-link">littlebookofwonders.com</a>
        <a itemprop="url" href="http://wealth.barclays.com" class="project-link">wealth.barclays.com</a>
      </p>
    </div>

    <a itemprop="url" href="http://littlebookofwonders.com" class="project-interface">
      <img itemprop="image" class="project-interface-img" srcset="/img/retina/_responsive/barclays-interface-@1x.jpg, /img/retina/_responsive/barclays-interface-@2x.jpg 2x" alt="Image showing an example of the user interface for Barclays.">
      <img class="project-interface-bg" srcset="/img/retina/_responsive/interface-bg-@1x.png, /img/retina/_responsive/interface-bg-@2x.png 2x" alt="Complementary image showing an outline of a laptop computer.">
    </a>

    <div class="project-background responsive-image responsive-image-full-width">
      {% include image/responsive.html class="project-background-image" file="hero-barclays-bg.jpg" alt="Faded background composition for Barclays." type="full-width" sizes="100vw" ratio="1.667" %}
    </div>
  </article>

  <article class="project project-dark" itemscope itemtype="http://schema.org/WebSite">
    <div class="project-content project-content-split layout-contain">
      <h2 class="project-title"><span itemprop="name">Seymourpowell</span></h2>

      <div class="project-description">
        <p>Seymourpowell is one of the world’s leading Design &amp; Innovation Consultancies with a track record of imagining and then creating world-first innovation solutions stretching over 30 years, from the first cordless kettle and pocket mobile phone, to 21st Century solutions in sustainable transportation, e-payment and water filtration.</p>

        <p>I developed a dynamic brochure website for an innovative product, featuring state-of-the-art front-end tooling and techniques, making use of responsive images and custom SVG animations. During implementation I also provided input for design decisions.</p>
      </div>

      <p class="project-meta project-meta-list">
        <span class="project-calltoaction"><a href="/contact/">Get in touch</a> for more information.</span>
        <a itemprop="url" href="http://seymourpowell.com" class="project-link">seymourpowell.com</a>
      </p>
    </div>

    <div class="project-background responsive-image responsive-image-full-width">
      {% include image/responsive.html class="project-background-image" file="hero-seymourpowell-bg.jpg" alt="Faded background composition for Seymourpowell." type="full-width" sizes="100vw" ratio="1.667" %}
    </div>
  </article>

  <article class="project" itemscope itemtype="http://schema.org/WebSite">
    <div class="project-content layout-contain">
      <h2 class="project-title"><a href="/case-studies/thingful" class="link-no-underline" itemprop="name">Thingful</a></h2>

      <div class="project-description">
        <p>Thingful is the world's first search engine for the Internet of Things, providing a unique geographical index of connected objects around the world, including energy, radiation, weather, and air quality devices as well as seismographs, iBeacons, ships, aircraft and even animal trackers. It also enables people and companies to claim and verify ownership of their things using a provenance mechanism, among other features.</p>

        <p>I helped define the product, designed the identity and user interface, and also single-handedly developed the front-end of the application, which works across multiple devices.</p>
      </div>

      <p class="project-meta">
        <a itemprop="workExample" href="/case-studies/thingful" class="button button-white project-calltoaction">Read Case Study</a>
        <a itemprop="url" href="https://thingful.net" class="project-link">thingful.net</a>
      </p>
    </div>

    <a itemprop="workExample" href="/case-studies/thingful" class="project-interface">
      <img itemprop="image" class="project-interface-img" srcset="/img/retina/_responsive/thingful-interface-@1x.jpg, /img/retina/_responsive/thingful-interface-@2x.jpg 2x" alt="Image showing an example of the user interface for Thingful.">
      <img class="project-interface-bg" srcset="/img/retina/_responsive/interface-bg-@1x.png, /img/retina/_responsive/interface-bg-@2x.png 2x" alt="Complementary image showing an outline of a laptop computer.">
    </a>

    <div class="project-background responsive-image responsive-image-full-width">
      {% include image/responsive.html class="project-background-image" file="hero-thingful-bg.jpg" alt="Faded background composition for Thingful." type="full-width" sizes="100vw" ratio="1.667" %}
    </div>
  </article>

  <article class="project project-dark" itemscope itemtype="http://schema.org/WebSite">
    <div class="project-content layout-contain">
      <h2 class="project-title"><a href="/case-studies/xively" class="link-no-underline" itemprop="name">Xively</a></h2>

      <div class="project-description">
        <p>Xively by LogMeIn is the industry’s first public cloud, purpose-built for developing and managing commercial products on the Internet of Things. It simplifies the interconnection of devices, data, people and places, accelerating the creation of compelling connected products.</p>

        <p>I led the Design/Front-end team on the full rebrand and redesign as Xively — complete with a new identity, marketing collateral and fully responsive user interface across the entire platform and satellite products.</p>
      </div>

      <p class="project-meta">
        <a itemprop="workExample" href="/case-studies/xively" class="button project-calltoaction">Read Case Study</a>
        <a itemprop="url" href="https://xively.com" class="project-link">xively.com</a>
      </p>
    </div>

    <a itemprop="workExample" href="/case-studies/xively" class="project-interface">
      <img itemprop="image" class="project-interface-img" srcset="/img/retina/_responsive/xively-interface-@1x.jpg, /img/retina/_responsive/xively-interface-@2x.jpg 2x" alt="Image showing an example of the user interface for Xively.">
      <img class="project-interface-bg" srcset="/img/retina/_responsive/interface-bg-@1x.png, /img/retina/_responsive/interface-bg-@2x.png 2x" alt="Complementary image showing an outline of a laptop computer.">
    </a>

    <div class="project-background responsive-image responsive-image-full-width">
      {% include image/responsive.html class="project-background-image" file="hero-xively-bg.jpg" alt="Faded background composition for Xively." type="full-width" sizes="100vw" ratio="1.667" %}
    </div>
  </article>

  <article class="project" itemscope itemtype="http://schema.org/WebSite">
    <div class="project-content layout-contain">
      <h2 class="project-title"><span itemprop="name">Umbrellium</span></h2>

      <div class="project-description">
        <p>Umbrellium creates and commercialises participatory products and services that empower people to transform their cities. The company designs, engineers and distributes everything from hardware products to software systems and the infrastructures that unite the two.</p>

        <p>I designed the identity of the company, and also designed and developed interactive art applications including the monumental interactive light installation <a href="https://youtube.com/watch?v=MjoumVT070A"><span class="no-orphans">Mini Burble Paris</span>, commissioned by Samsung</a>.</p>
      </div>

      <p class="project-meta project-meta-list">
        <a itemprop="url" href="http://umbrellium.co.uk" class="project-link">umbrellium.co.uk</a>
        <a itemprop="url" href="https://www.youtube.com/watch?v=MjoumVT070A" class="project-link">mini-burble video (worth your time!)</a>
      </p>
    </div>

    <a itemprop="url" href="http://umbrellium.co.uk" class="project-interface">
      <img itemprop="image" class="project-interface-img" srcset="/img/retina/_responsive/umbrellium-interface-@1x.jpg, /img/retina/_responsive/umbrellium-interface-@2x.jpg 2x" alt="Image showing an example of the user interface for Umbrellium.">
      <img class="project-interface-bg" srcset="/img/retina/_responsive/interface-bg-@1x.png, /img/retina/_responsive/interface-bg-@2x.png 2x" alt="Complementary image showing an outline of a laptop computer.">
    </a>

    <div class="project-background responsive-image responsive-image-full-width">
      {% include image/responsive.html class="project-background-image" file="hero-umbrellium-bg.jpg" alt="Faded background composition for Umbrellium." type="full-width" sizes="100vw" ratio="1.667" %}
    </div>
  </article>

  <footer class="projects-more">
    <div class="layout-contain">
      <p>For more information, work examples or to discuss working together &mdash; <a href="/contact/">get in touch</a> and I'm sure I'll get back to you quickly.</p>
    </div>
  </footer>

</section>
