---
layout: application

id: home
class: home

description: Front-end Development <span class="no-orphans">&amp; User Interface Design.</span>

type: Available from March 2015

hero-title: Holistic.
hero-video: flicker.mp4
hero-image: hero-home-bg.jpg
hero-theme: dark

---

<section class="page-wrapper layout-contain layout-clear">

  <h1 class="visuallyhidden">About</h1>

  <aside class="page-sidebar sidebar layout-sidebar" role="complementary">
    <section class="sidebar-section skills-section">
      <ul class="sidebar-list list-vertical skills">
        <li class="skill"><span class="skill-box">UI</span><span class="visuallyhidden"> -</span> User Interface</li>
        <li class="skill"><span class="skill-box">JS</span><span class="visuallyhidden"> -</span> Javascript</li>
        <li class="skill skill-minor"><span class="skill-box">UX</span><span class="visuallyhidden"> -</span> User Experience</li>
        <li class="skill skill-minor"><span class="skill-box">BR</span><span class="visuallyhidden"> -</span> Branding</li>
      </ul>
    </section>
  </aside>

  <div class="page-content content layout-content">
    <p>For the past 6 years, I’ve been working in the various parts of complex digital products. I’ve amassed a <strong>broad range of skills</strong> in the process — user interface design, front-end development, user experience and identity design.</p>

    <p>I believe that when you want to come up with the best solution, learning all disciplines that are involved in making digital products allows a more <strong>holistic approach to solving a problem</strong> — and not to mention better communication with the different specialised teams.</p>

    <p>Recently, I’ve spearheaded the product design and front-end development of a couple of <strong>award-winning Internet of Things products</strong>, which got featured in international publications.</p>

    <a class="button" href="/about">Read more</a>
  </div>

</section>

<section id="case-studies" class="case-studies projects">
  <article class="project" itemscope itemtype="http://schema.org/WebSite">
    <div class="project-content layout-contain">
      <h2 class="project-title"><a href="/case-studies/thingful" class="link-no-underline" itemprop="name">Thingful</a> <small itemprop="dateModified" class="project-date project-title-small">2013 — 15</small></h2>

      <div class="project-description">
        <p>Thingful is the world's first search engine for the Internet of Things, providing a unique geographical index of connected objects around the world, including energy, radiation, weather, and air quality devices as well as seismographs, iBeacons, ships, aircraft and even animal trackers. It also enables people and companies to claim and verify ownership of their things using a provenance mechanism, among other features.</p>

        <p>I helped <strong>define the product, designed the identity and user interface, and also single-handedly developed the front-end</strong> of the application, which works across multiple devices.</p>
      </div>

      <p class="project-meta">
        <a itemprop="workExample" href="/case-studies/thingful" class="button button-white project-calltoaction">Read Case Study</a>
        <a itemprop="url" href="https://thingful.net" class="project-link">thingful.net</a>
      </p>
    </div>

    <img itemprop="image" class="project-interface" sizes="100vw" srcset="/img/retina/_responsive/thingful-interface-@1x.png 785w, /img/retina/_responsive/thingful-interface-@2x.png 1570w" alt="Image showing an example of the user interface for Thingful.">

    <div class="project-background responsive-image responsive-image-full-width">
      {% include image/responsive.html class="project-background-image" file="hero-thingful-bg.jpg" alt="Faded background composition for Thingful." type="full-width" sizes="100vw" ratio="1.667" %}
    </div>
  </article>

  <article class="project" itemscope itemtype="http://schema.org/WebSite">
    <div class="project-content project-content-right layout-contain">
      <h2 class="project-title"><a href="/case-studies/xively" class="link-no-underline" itemprop="name">Xively</a> <small itemprop="dateModified" class="project-date project-title-small">2011 — 13</small></h2>

      <div class="project-description">
        <p>Xively by LogMeIn is the industry’s first public cloud, purpose-built for developing and managing commercial products on the Internet of Things. It simplifies the interconnection of devices, data, people and places, accelerating the creation of compelling connected products.</p>

        <p>I led the Design/Front-end team on the full rebrand and redesign as Xively — complete with a <strong>new identity, marketing collateral and fully responsive user interface across the entire platform and satellite products</strong>.</p>
      </div>

      <p class="project-meta">
        <a itemprop="workExample" href="/case-studies/xively" class="button button-white project-calltoaction">Read Case Study</a>
        <a itemprop="url" href="https://xively.com" class="project-link">xively.com</a>
      </p>
    </div>

    <img itemprop="image" class="project-interface" sizes="100vw" srcset="/img/retina/_responsive/xively-interface-@1x.png 785w, /img/retina/_responsive/xively-interface-@2x.png 1570w" alt="Image showing an example of the user interface for Xively.">

    <div class="project-background responsive-image responsive-image-full-width">
      {% include image/responsive.html class="project-background-image" file="hero-xively-bg.jpg" alt="Faded background composition for Xively." type="full-width" sizes="100vw" ratio="1.667" %}
    </div>
  </article>

  <article class="project" itemscope itemtype="http://schema.org/WebSite">
    <div class="project-content layout-contain">
      <h2 class="project-title"><span itemprop="name">Umbrellium</span> <small itemprop="dateModified" class="project-date project-title-small">2013 — 15</small></h2>

      <div class="project-description">
        <p>Umbrellium creates and commercialises participatory products and services that empower people to transform their cities. The company designs, engineers and distributes everything from hardware products to software systems and the infrastructures that unite the two.</p>

        <p>I <strong>designed the identity</strong> of the company, and also <strong>designed and developed interactive art applications</strong>.</p>
      </div>

      <p class="project-meta">
        <span class="project-calltoaction">Coming soon.</span>
        <a itemprop="url" href="http://umbrellium.co.uk" class="project-link">umbrellium.co.uk</a>
      </p>
    </div>

    <img itemprop="image" class="project-interface" sizes="100vw" srcset="/img/retina/_responsive/umbrellium-interface-@1x.png 785w, /img/retina/_responsive/umbrellium-interface-@2x.png 1570w" alt="Image showing an example of the user interface for Umbrellium.">

    <div class="project-background responsive-image responsive-image-full-width">
      {% include image/responsive.html class="project-background-image" file="hero-umbrellium-bg.jpg" alt="Faded background composition for Umbrellium." type="full-width" sizes="100vw" ratio="1.667" %}
    </div>
  </article>
</section>