// b & w

$color-black: #000;
$color-white: #fff;

// grays

$color-gray-lightest: #e6e9eb;
$color-gray-light: #d0d3d4;
$color-gray: #a3aaae;
$color-gray-dark: #7c868d;

// social

$color-mail: $color-black;
$color-twitter: #55acee;
$color-github: #333333;
$color-linkedin: #0976b4;
$color-instagram: #3f729b;