//
// VARIABLES
//

// TYPOGRAPHY
// http://modularscale.com/scale/?px1=16&px2=60&ra1=1.5&ra2=0

$type-size-base   : 16px;
$type-size-mobile : 14px;
$type-line-height : 22px;
$type-spacing     : 24px;

$type-size-tiny    : 12.000px;
$type-size-small   : 14.000px;
$type-size-normal  : $type-size-base;
$type-size-medium  : 17.778px;
$type-size-large   : 24.000px;
$type-size-xlarge  : 36.000px;
$type-size-xxlarge : 40.000px;
$type-size-big     : 60.000px;
$type-size-huge    : 121.500px;

$type-heading-1    : $type-size-xlarge;
$type-heading-2    : $type-size-large;
$type-heading-3    : $type-size-medium;
$type-heading-4    : $type-size-normal;
$type-heading-5    : $type-size-small;
$type-heading-6    : $type-size-tiny;
$type-heading-big  : $type-size-big;
$type-heading-huge : $type-size-huge;

// LAYOUT

$layout-width-max : 1024px;
$layout-width-min : 320px;
$layout-padding   : $type-size-xxlarge;
$layout-gutter    : $type-size-large;
$layout-content   : (620px / $layout-width-max) * 100%;
$layout-sidebar   : (364px / $layout-width-max) * 100%;

// RESPONSIVE

$breakpoint-final: $layout-width-max + ($layout-padding * 2);
$breakpoint-major: 700px;
$breakpoint-minor: 480px;

// BORDER

$border-size : 1px;

// ANIMATION

$animation-ease : cubic-bezier(.51,.27,.6,.91);