{::nomarkdown}
    </div>
  </div>
  <div class="layout-block layout-clear">

    <div class="content-enrich content-full layout-content-full">
      {% capture type %}{% if include.type %}{{ include.type }}{% else %}regular{% endif %}{% endcapture %}
      {% capture sizes %}{% if include.sizes %}{{ include.sizes }}{% else %}(min-width: 69em) 64em, 100vw{% endif %}{% endcapture %}
      {% capture class %}content-image {{ include.class }}{% endcapture %}

      {% include image/responsive.html class=class file=include.file alt=include.alt type=type sizes=sizes %}
    </div>

    <div class="page-content content layout-content">
{:/nomarkdown}