//
// BUTTONS
//

.button,
a.button {
  z-index: 1;
  display: inline-block;
  padding: em($type-spacing/2) em($type-spacing);
  color: $color-black;
  text-decoration: none;
  font-weight: bold;
  line-height: em($type-spacing);
  border: em(3px) solid $color-black;
  border-radius: em($type-spacing*2);
  transition: transform 0.333s cubic-bezier(0.000, 0.995, 0.750, 1.140);

  &.button-white {
    color: $color-white;
    border-color: $color-white;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    opacity: 1;
    transform: scale(1.05);
  }
}