<footer class="app-footer" role="contentinfo">
  <div class="layout-contain layout-clear">
    <nav class="footer-nav">

      <ul class="footer-nav-site list list-horizontal">
        <li class="list-item">
          <a class="list-item-link link-no-underline" data-scrollto="#work" href="/#work">Work</a>
        </li>
        <li class="list-item">
          <a class="list-item-link link-no-underline" href="/about/">About</a>
        </li>
        <li class="list-item">
          <a class="list-item-link link-no-underline" href="/contact/">Contact</a>
        </li>
      </ul>

      <ul class="footer-nav-social list list-horizontal">
        <li class="list-item">
          <a class="footer-social-mail list-item-link link-no-underline" href="mailto:pete@petecorreia.com"><span class="icon-mail" aria-hidden="true"></span></a>
        </li>
        <li class="list-item">
          <a class="footer-social-twitter list-item-link link-no-underline" href="https://twitter.com/petecorreia"><span class="icon-twitter" aria-hidden="true"></span></a>
        </li>
        <li class="list-item">
          <a class="footer-social-github list-item-link link-no-underline" href="https://github.com/petecorreia"><span class="icon-github" aria-hidden="true"></span></a>
        </li>
        <li class="list-item">
          <a class="footer-social-linkedin list-item-link link-no-underline" href="https://www.linkedin.com/in/petecorreia"><span class="icon-linkedin" aria-hidden="true"></span></a>
        </li>
        <li class="list-item">
          <a class="footer-social-instagram list-item-link link-no-underline" href="https://www.instagram.com/pete.correia"><span class="icon-instagram" aria-hidden="true"></span></a>
        </li>
      </ul>
    </nav>

    <div class="footer-right">
      <p class="footer-available"><a href="/contact/">Available from {{ site.available }}</a></p>
      <p class="footer-legal">&copy; {{ site.time | date: "%Y" }} {{ site.name }}. All Rights Reserved.</p>
    </div>
  </div>
</footer>