<!--[if lte IE 8]>
  <script src="/_bower_components/jquery-1.9.1/index.js"></script>
  <script src="/_bower_components/respond/dest/respond.min.js"></script>
  <script src="/_bower_components/selectivizr/selectivizr.js"></script>
<![endif]-->

<!-- build:js(app) /js/head-scripts.js -->
<!-- modernizr (automatically customized for production) -->
<script src="/_bower_components/modernizr/modernizr.js"></script>
<!-- picturefill -->
<script src="/_bower_components/picturefill/dist/picturefill.js"></script>
<!-- endbuild -->